@(field: play.api.data.Field, baseUrl: String, args: (Symbol,Any)*)(implicit handler: views.html.helper.FieldConstructor, lang: play.api.i18n.Lang)

@import views.html.helper._ 

@input(field, args:_*) { (id, name, value, htmlArgs) =>
	@if(field("id").value.isDefined) {
		<img id="@id" href="thumbnail/@id/@field("id").value.getOrElse(null)" alt="@field("label")" height="@field("thumbnailHeight")" width="@field("thumbnailWidth")" @toHtmlArgs(htmlArgs)/>
	} else {
		@if(args.exists(_._1 == 'disabled)) {
			<span class="label">kein Bild</span> 
		} else {
		    <input id="@{id}-fileupload" type="file" name="@name" data-url="@baseUrl"/>
		    <div id="@{id}-fileupload-preview"></div>
			<script type="text/javascript">
				$('#@{id}-fileupload').fileupload({
			        dataType: 'json',
					formData: { 
			        	id: @field("id").value.getOrElse("null")
			        },
			        done: function (e, data) {
			        	var img = data.result;
			        	$('<img id="'+img.id+'" href="/admin/thumbnail/'+img.id+'" alt="'+img.label+'" height="'+img.height+'" width="'+img.width+'"/>').appendTo($('#@{id}-fileupload-preview'));
			        }
			    }).error(function (jqXHR, textStatus, errorThrown) {
			    	console.log(jqXHR, textStatus, errorThrown);
			    });		
			</script>
		}
	}
}