@(field: play.api.data.Field, baseUrl: String, args: (Symbol,Any)*)(implicit handler: views.html.helper.FieldConstructor, lang: play.api.i18n.Lang)

@import views.html.helper._ 

@hasImage() = @{ !org.apache.commons.lang.StringUtils.isEmpty(field("id").value.getOrElse(null)) }

@input(field, args:_*) { (id, name, value, htmlArgs) =>
    @** only the @{id}.id changes the model! **@
    <input id="@id-id" type="hidden" name="@{id}.id" value="@field("id").value.getOrElse(null)"/>
    @** the other hidden fields are only for the validation error case (otherwise no image would be shown) **@
    <input id="@id-label" type="hidden" name="@{id}.label" value="@field("label").value.getOrElse(null)"/>
    <input id="@id-image-id" type="hidden" name="@{id}.image.id" value="@field("image.id").value.getOrElse(null)"/>
    <input id="@id-image-height" type="hidden" name="@{id}.image.height" value="@field("image.height").value.getOrElse(null)"/>
    <input id="@id-image-width" type="hidden" name="@{id}.image.width" value="@field("image.width").value.getOrElse(null)"/>
    <input id="@id-thumbnail-id" type="hidden" name="@{id}.thumbnail.id" value="@field("thumbnail.id").value.getOrElse(null)"/>
    <input id="@id-thumbnail-height" type="hidden" name="@{id}.thumbnail.height" value="@field("thumbnail.height").value.getOrElse(null)"/>
    <input id="@id-thumbnail-width" type="hidden" name="@{id}.thumbnail.width" value="@field("thumbnail.width").value.getOrElse(null)"/>

	<ul class="thumbnails">
      <li class="span3">
        <div class="thumbnail">
		    <a id="@id-preview" class="image-preview" href="@baseUrl/@field("image.id").value.getOrElse(null)">
			    <img id="@id-thumbnail" 
			    	@if(hasImage()) {
			    		src="@baseUrl/@field("thumbnail.id").value.getOrElse(null)"
			    		alt="@field("label").value.getOrElse("")" 
			    		height="@field("thumbnail.height").value.getOrElse(0)" 
			    		width="@field("thumbnail.width").value.getOrElse(0)"
			    	} else {
			    		src="/assets/images/no_photo.jpg"
			    	} 
			   	/>
		    </a>
          <div class="caption">
            <p>
              @if(!args.exists(_._1 == 'disabled)) {
	           	<span id="@id-add" class="btn btn-success fileinput-button">
				  <i class="icon-upload icon-white"></i>
				  <input id="@id-fileupload" type="file" data-url="@baseUrl" title="Bild hochladen / austauschen"/>
			    </span>
			    <button id="@id-delete" type="button" class="btn btn-danger delete" title="Bild löschen">
			      <i class="icon-trash icon-white"></i>
			    </button>
	           }
            </p>
          </div>
        </div>
      </li>
    </ul>	
	
	<div class="modal hide" id="@id-preview-modal">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal">×</button>
	    <h3 id="@id-image-label">@field("label").value.getOrElse("")</h3>
	  </div>
	  <div class="modal-body">
	    <img id="@id-image" 
	    	@if(hasImage()) {
	    		src="@baseUrl/@field("image.id").value.getOrElse(null)"
	    		alt="@field("label").value.getOrElse("")" 
	    		height="@field("image.height").value.getOrElse(0)" 
	    		width="@field("image.width").value.getOrElse(0)"
	    	} else {
	    		src="/assets/images/no_photo.jpg"
	    	} 
	    />
	  </div>
	</div>

	@if(!args.exists(_._1 == 'disabled)) {
		<script type="text/javascript">
			$('#@id-fileupload').fileupload({
		        dataType: 'json',
				formData: { 
		        	id: @notEmptyOrElse(field("id"),"null")
		        },
		        done: function (e, data) {
		        	var img = data.result;
		        	var previewArea = $('#@id-preview');
		        	function fillImageTag(tag, image) {
			        	tag.attr('src','@baseUrl/'+image.id);
			        	tag.attr('width',image.width);
			        	tag.attr('height',image.height);
			        	tag.attr('alt',img.label);
		        	}
		        	fillImageTag($('#@id-image'),img.image);
		        	fillImageTag($('#@id-thumbnail'),img.thumbnail);
		        	$('#@id-id').val(img.id);
		        	$('#@id-image-label').text(img.label);
		        	$('#@id-preview-label').text(img.label);
		        	$('#@id-preview').attr('href','@baseUrl/'+img.image.id);
		           	$('#@id-delete').css({'visibility': 'visible'});
		           	
		        	$('#@id-label').val(img.label);
		        	$('#@id-image-id').val(img.image.id);
		        	$('#@id-image-height').val(img.image.height);
		        	$('#@id-image-width').val(img.image.width);
		        	$('#@id-thumbnail-id').val(img.thumbnail.id);
		        	$('#@id-thumbnail-height').val(img.thumbnail.height);
		        	$('#@id-thumbnail-width').val(img.thumbnail.width);
		        }
		    }).error(function (jqXHR, textStatus, errorThrown) {
		    	console.log(jqXHR, textStatus, errorThrown);
		    });

		    $('#@id-delete').click(function() {
	        	function clearImageTag(tag) {
		        	tag.attr('src','/assets/images/no_photo.jpg');
		        	tag.removeAttr('width');
		        	tag.removeAttr('height');
		        	tag.attr('alt',"");
	        	}
	        	clearImageTag($('#@id-image'));
	        	clearImageTag($('#@id-thumbnail'));
	        	$('#@id-id').val(null);
	        	$('#@id-image-label').text("");
	        	$('#@id-preview-label').text("");
	        	$('#@id-preview').attr('href','/assets/images/no_photo.jpg');
	           	$('#@id-delete').css({'visibility': 'hidden'});
	           	
	        	$('#@id-label').val("");
	        	$('#@id-image-id').val("");
	        	$('#@id-image-height').val("");
	        	$('#@id-image-width').val("");
	        	$('#@id-thumbnail-id').val("");
	        	$('#@id-thumbnail-height').val("");
	        	$('#@id-thumbnail-width').val("");
		    });
		</script>
	}
	
	<script type="text/javascript">
	    $('#@id-preview').click(function() {
			var width = $('#@id-image').attr('width');
			if (typeof width==='undefined' || width===null || width==0) {
				return false;
			}
		    $('#@id-preview-modal').modal({
		        backdrop: true,
		        keyboard: true
		    }).css({
		        'width': 'auto',
		        'max-width': function () { 
		            return ($(document).width() * .9) + 'px';  
		        },
		        'height': 'auto',
		        'max-height': function () { 
		            return ($(document).height() * .9) + 'px';  
		        },
		        'margin-left': function () {
		            return -($(this).width() / 2);
		        },
		        'margin-top': function () {
		            return -($(this).height() / 2);
		        }
		    });
		    return false;
		});
	    @if(!hasImage()) {
       		$('#@id-delete').css({'visibility': 'hidden'});
	    }
	</script>
	
}