@(f: Form[Ding])(implicit viewType: controllers.ViewType) 

@import scala.collection.JavaConversions._ 
@import controllers.admin.routes 
@import views.html.helper._
@import views.html.oc_helper._ 
@import views.html.oc_helper.bootstrap2._ 

@loggedin_main() {

  @crudForm("Ding","/admin/ding",f) {
  
    @hiddenField( f("id") ) 
    @hiddenField( f("lastUpdate") ) 
    @inputText( f("name"), '_label -> "Name", disabledOrNot() ) 
    @inputText( f("description"), '_label -> "Beschreibung", disabledOrNot() ) 
    @checkboxField( f("special"), '_label -> "Spezial", disabledOrNot() )  
    @inputText( f("price"), '_label -> "Preis", disabledOrNot() )
  
  }
}