@(currentPage: Page[Ding], rowsToShow: Integer, currentSortBy: String, currentOrder: String, currentFilter: String)

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage:Int, newSortBy:String) = @{
    var sortBy = currentSortBy
    var order = currentOrder
    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }
    // Generate the link
    //routes.DingController.list(newPage, rowsToShow, sortBy, order, currentFilter)
}

@**********************************
* Helper generating table headers *
***********************************@
@header(key:String, title:String) = {
    <th class="@key.replace(".","_") header @if(currentSortBy == key) @{if(currentOrder == "asc") "headerSortDown" else "headerSortUp"}">
        <a href="@link(0, key)">@title</a>
        <!-- @if(currentOrder == "asc") { ASC }  --> 
    </th>
}

@main() {
    
  <article class="users">
		<div class="folder">
	    <header>
				<table width="100%">
					<tr>
						<td width="40%">
			    		<h3>@currentPage.getTotalRowCount Benutzer</h3>
						</td>
						<td width="40%">
						  <div id="actions">
					      <form action="@link(0, "name")" method="GET">
					          <input type="search" id="searchbox" name="f" value="@currentFilter" placeholder="Filter Benutzername">
					          <input type="submit" id="searchsubmit" value="Filter" class="">
					      </form>
						  </div>
						</td>
						<td width="20%">
							<a class="button" href="@routes.admin.DingController.create()">Neues Ding</a>
						</td>
					</tr>
				</table>
	    </header>
	    
	    <table class="list-table">
	    	<tr>
    	      @header("name", "Name")
	          @header("description", "Beschreibung")
	          @header("special", "Spezial")
	          @header("price", "Preis")
	    	</tr>
		    @for(user <- currentPage.getList) {
			<tr data-task-id="@ding.id">
				<td>
					<a class="name" href="@routes.DingController.view(ding.getId)">@ding.name</a>
				</td>
				<td>
			        @ding.description
				</td>
				<td>
			        @ding.special
				</td>
				<td>
			        @ding.price
				</td>
			</tr>
	        }
	    </table>
	    
    </div>
    <div id="pagination" class="pagination">
      <ul>
        @if(currentPage.hasPrev) {
            <li class="prev">
                <a href="@link(currentPage.getPageIndex - 1, null)">&larr; Previous</a>
            </li>
        } else {
            <li class="prev disabled">
                <a>&larr; Previous</a>
            </li>
        }
        <li class="current">
            <a>@currentPage.getDisplayXtoYofZ(" bis "," von ")</a>
        </li>
        @if(currentPage.hasNext) {
            <li class="next">
                <a href="@link(currentPage.getPageIndex + 1, null)">Next &rarr;</a>
            </li>
        } else {
            <li class="next disabled">
                <a>Next &rarr;</a>
            </li>
        }
      </ul>
    </div>
  </article>
  
}
