@()(content: Html)

@import controllers.admin.routes
@import views.html.helper._ 
@import views.html.oc_helper._ 
@import views.html.oc_helper.bootstrap2._ 

@main() {
    
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">@global.Global.APP_NAME Admin</a>
          <div class="btn-group pull-right">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="icon-user"></i> Username
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">Profile</a></li>
              <li class="divider"></li>
              <li><a href="@routes.LoginController.signOut()">Sign Out</a></li>
            </ul>
          </div>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
      
        <div class="span2">
          <div class="well sidebar-nav">
	        <ul class="nav nav-list">
	          <li class="nav-header">Menü</li>
	          <li><a href="@routes.UserController.listAll"><i class="icon-user"></i> User</a></li>
	          <li><a href="@routes.DingController.listAll"><i class="icon-pencil"></i> Ding</a></li>
	        </ul>
	      </div>        
        </div><!--/span-->
    
        <div class="span10">
        	@flashmessages()
        </div>
     
        <div class="span10">
       	  @content
        </div>
		
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; Company 2012</p>
      </footer>

    </div><!--/.fluid-container-->
    
}