@(loginForm : Form[controllers.forms.LoginForm]) 

@import controllers.admin.routes 
@import views.html.helper._ 
@import scala.collection.JavaConversions._ 
@import helper.bootstrap2._ 

@main() {

<div class="container">
	<section id="login">
		<div class="row">
			<div class="span6 offset3">
				<div class="form-horizontal">
					<form class="form-horizontal" action="@routes.LoginController.authenticate()" method="post">

						<div class="page-header">
							<div class="container">
								<h1>
									@global.Global.APP_NAME<small> Admin Login</small>
								</h1>
							</div>
						</div>

						<fieldset>

							@inputText(
								loginForm("email"), 
								'_label -> "E-Mail", 
								'_help -> "",
								'_showConstraints -> false, 
								'placeholder -> "E-Mail", 
								'_icon -> "icon-envelope",
								'class -> "span2"
							)
							
							@inputPassword(
								loginForm("password"), 
								'_label -> "Passwort", 
								'_help -> "",
								'_showConstraints -> false, 
								'placeholder -> "Passwort", 
								'_icon -> "icon-lock",
								'class -> "span2"
							)

							<div class="form-actions">
								<input class="btn btn-primary btn-large" type="submit" value="Anmelden" />
							</div>
						</fieldset>
					</form>
				</div>
				<script>
					$(document).ready(function() {
						$("#email").focus();
					});
				</script>
			</div>
		</div>
	</section>

</div>

}
