@(implicit cDetails: CrudDetailsState, f: Form[MvTestFeature], viewType: controllers.ViewType)

@import play.libs.Scala._ 
@import scala.collection.JavaConversions._ 
@import controllers.admin.routes 
@import views.html.helper._
@import views.html.oc_helper._ 
@import views.html.oc_helper.bootstrap2._ 
@import models._
@import views.html.oc_helper.noLabels

@loggedin_main() {

  @crudForm() {

    @hiddenField( f("fixRandomNumber") ) 
    @inputText( f("name"), '_label -> "Name", disabledOrNot() ) 
    @textarea( f("description"), '_label -> "Beschreibung", disabledOrNot() ) 
 	@inputTimestamp( f("startTime"), '_label -> "Start", disabledOrNot())
    @inputTimestamp( f("endTime"), '_label -> "Ende", disabledOrNot())
    
    @crudToManyTable("Varianten","variants") {
      <th>Name</th>
      <th>% der User</th>
    } { x: Field =>
      <td>
        @inputText(x("name"),disabledOrNot())(noLabels.noLabelsField,lang)
      </td>
      <td>
        @inputNumber(x("percent"),disabledOrNot(), 'min->"0.0", 'max->"100.0", 'step->"0.001")(noLabels.noLabelsField,lang)
      </td>
    }
        
  }
}