@(regForm : Form[controllers.forms.RegistrationForm])

@import controllers.site.routes
@import views.html.helper._
@import scala.collection.JavaConversions._
@import views.html.oc_helper._ 
@import views.html.oc_helper.bootstrap2._ 
						
							@inputText(
								regForm("mandatory.email"), 
								'_label -> "E-Mail", 
								'_help -> "",
								'_showConstraints -> false, 
								'placeholder -> "E-Mail", 
								'_icon -> "icon-envelope",
								'class -> "span2"
							)
							
							@inputPassword(
								regForm("mandatory.password1"), 
								'_label -> "Passwort", 
								'_help -> "",
								'_showConstraints -> false, 
								'placeholder -> "Passwort", 
								'_icon -> "icon-lock",
								'class -> "span2"
							)
							
							@inputPassword(
								regForm("mandatory.password2"), 
								'_label -> "Passwort Wiederholung", 
								'_help -> "",
								'_showConstraints -> false, 
								'placeholder -> "Passwort wiederholen", 
								'_icon -> "icon-lock",
								'class -> "span2"
							)	
							
						<div class="page-header">
							<div class="container">
								<h4>
									Freiwillige Angaben
								</h4>
							</div>
						</div>
							
							@inputText(
								regForm("optionalUserProfileForm.firstname"), 
								'_label -> "Vorname", 
								'_help -> "",
								'_showConstraints -> false, 
								'placeholder -> "Vorname", 
								'_icon -> "icon-user",
								'class -> "span2"
							)
							
							@inputText(
								regForm("optionalUserProfileForm.surname"), 
								'_label -> "Nachname", 
								'_help -> "",
								'_showConstraints -> false, 
								'placeholder -> "Nachname", 
								'_icon -> "icon-user",
								'class -> "span2"
							)
																					
							@inputText(
								regForm("optionalUserProfileForm.address"), 
								'_label -> "Adresse", 
								'_help -> "",
								'_showConstraints -> false, 
								'placeholder -> "Adresse", 
								'_icon -> "icon-home",
								'class -> "span2"
							)
							
							@inputText(
								regForm("optionalUserProfileForm.zipCode"), 
								'_label -> "PLZ", 
								'_help -> "",
								'_showConstraints -> false, 
								'placeholder -> "PLZ", 
								'_icon -> "icon-home",
								'class -> "span2"
							)

							@inputText(
								regForm("optionalUserProfileForm.city"), 
								'_label -> "Stadt", 
								'_help -> "",
								'_showConstraints -> false, 
								'placeholder -> "Stadt", 
								'_icon -> "icon-home",
								'class -> "span2"
							)
																					
							@select(
								regForm("optionalUserProfileForm.countryListIndex"), 
								options = for((c,i) <- utils.CountryHelper.countryList.zipWithIndex) yield (String.valueOf(i),c),
								'_label -> "Land", 
								'_help -> "",
								'_showConstraints -> false, 
								'placeholder -> "Land", 
								'_icon -> "icon-flag",
								'class -> "span2"
							)

