@import controllers.site.routes
@import views.html.helper._ 
@import views.html.oc_helper._ 
@import views.html.oc_helper.bootstrap2._ 



@if(authenticate.Authenticated.getAuthenticatedUser != null) {
          <div class="btn-group pull-right">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="icon-user"></i> @authenticate.Authenticated.getAuthenticatedUser.getEmail
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">Profile</a></li>
              <li class="divider"></li>
              <li><a href="@routes.LoginController.signOut()">Sign Out</a></li>
            </ul>
          </div>
} else {
          <div class="btn-group pull-right">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="@routes.LoginController.index()">
              <i class="icon-user"></i> Anmelden
              <span class="caret"></span>
            </a>
          </div>
}