@(elements: views.html.helper.FieldElements)

@import play.api.i18n._
@import views.html.helper._

@**************************************************
* Generate naked input without labels             *
**************************************************@

<div class="control-group @elements.args.get('_class) @if(elements.hasErrors) {error}" id="@elements.args.get('_id).getOrElse(elements.id + "_field")" style="margin-bottom:0px;display:inline-block;">
      @elements.input
      @if(!elements.errors(elements.lang).isEmpty) {
      	<span class="help-inline error">@elements.errors(elements.lang).mkString(", ")</span>
      }
</div>    
