@(loginForm : Form[controllers.forms.LoginForm])

@import controllers.site.routes
@import views.html.helper._
@import scala.collection.JavaConversions._
@import helper.bootstrap2._ 

@main() {

<div class="container">
	<section id="login">
		<div class="row">
			<div class="span6 offset3">
				<div class="form-horizontal">
					<form class="form-horizontal"
						action="@routes.LoginController.authenticate()" method="post">
						<input type="hidden" name="next" value="/">

						<div class="page-header">
							<div class="container">
								<h1>
									@global.Global.APP_NAME<small> Login</small>
								</h1>
							</div>
						</div>

						<fieldset>

							@inputText(
								loginForm("email"), 
								'_label -> "E-Mail", 
								'_help -> "",
								'_showConstraints -> false, 
								'placeholder -> "E-Mail", 
								'class -> "span2",
								'icon -> "icon-envelope"
							)
							
							@inputPassword(
								loginForm("password"), 
								'_label -> "Passwort", 
								'_help -> "",
								'_showConstraints -> false, 
								'placeholder -> "Passwort", 
								'class -> "span2",
								'icon -> "icon-lock"
							)

							<div class="form-actions">
								<input class="btn btn-primary btn-large" type="submit" value="Anmelden"> <a class="btn btn-large" href="/signin/reset">Passwort vergessen?</a>
							</div>
						</fieldset>
					</form>
				</div>
				<script>
					$(document).ready(function() {
						$("#userName").focus();
					});
				</script>
			</div>
		</div>
	</section>

</div>

}
