@(loginForm : Form[controllers.forms.LoginForm])

@import controllers.site.routes
@import views.html.helper._
@import scala.collection.JavaConversions._
@import views.html.oc_helper._ 
@import views.html.oc_helper.bootstrap2._ 

@main() {

<div class="container">
	<div class="row">
		<div class="span6 offset3">
			<form class="form-horizontal" action="@routes.LoginController.authenticate()" method="post">

				<div class="page-header">
					<div class="container">
						<h1>
							@global.Global.APP_NAME<small> Login</small>
						</h1>
					</div>
				</div>

			  	@flashmessages()

				<fieldset>

					@inputText(
						loginForm("email"), 
						'_label -> "E-Mail", 
						'_help -> "",
						'_showConstraints -> false, 
						'placeholder -> "E-Mail", 
						'_icon -> "icon-envelope",
						'class -> "span2"
					)
					
					@inputPassword(
						loginForm("password"), 
						'_label -> "Passwort", 
						'_help -> "",
						'_showConstraints -> false, 
						'placeholder -> "Passwort", 
						'_icon -> "icon-lock",
						'class -> "span2"
					)

					<div class="form-actions">
						<input class="btn btn-primary btn-large" type="submit" value="Anmelden"> <a class="btn btn-large" href="/signin/reset">Passwort vergessen?</a>
					</div>
				</fieldset>
			</form>
			<script>
				$(document).ready(function() {
					$("#email").focus();
				});
			</script>
		</div>
	</div>
</div>

}

