@(pwForm : Form[controllers.forms.PasswordChangeForm], uuid : String)

@import controllers.site.routes
@import views.html.helper._
@import scala.collection.JavaConversions._
@import views.html.oc_helper._ 
@import views.html.oc_helper.bootstrap2._ 

@main() {

<div class="container">
	<section id="login">
		<div class="row">
			<div class="span6 offset3">
				<div class="form-horizontal">
					<form class="form-horizontal"
						action="@routes.PasswordRecoverController.performChangePassword(uuid)" method="post">
						<div class="page-header">
							<div class="container">
								<h1>
									@global.Global.APP_NAME<small> Passwort &auml;ndern ?</small>
								</h1>
							</div>
						</div>

						<fieldset>
							@hiddenField(pwForm("email"))
			
							@inputPassword(
								pwForm("password1"), 
								'_label -> "Passwort", 
								'_help -> "",
								'_showConstraints -> false, 
								'placeholder -> "Passwort", 
								'class -> "span2",
								'_icon -> "icon-envelope"
							)
							
							@inputPassword(
								pwForm("password2"), 
								'_label -> "Passwort Wiederholung ", 
								'_help -> "",
								'_showConstraints -> false, 
								'placeholder -> "Passwort wiederholen", 
								'class -> "span2",
								'_icon -> "icon-envelope"
							)

							<div class="form-actions">
								<input class="btn btn-primary btn-large" type="submit" value="Passwort &auml;ndern" />
							</div>
						</fieldset>
					</form>
				</div>
				<script>
					$(document).ready(function() {
						$("#password1").focus();
					});
				</script>
			</div>
		</div>
	</section>

</div>

}
