@(regForm : Form[controllers.forms.RegistrationForm])

@import controllers.site.routes
@import views.html.helper._
@import scala.collection.JavaConversions._
@import views.html.oc_helper._ 
@import views.html.oc_helper.bootstrap2._ 

@main() {

<div class="container">
	<section id="login">
		<div class="row">
			<div class="span6 offset3">
				<div class="form-horizontal">
					<form class="form-horizontal" action="@routes.RegistrationController.register()" method="post">

						<div class="page-header">
							<div class="container">
								<h1>
									@global.Global.APP_NAME<small> Registrierung</small>
								</h1>
							</div>
						</div>
						
						@flashmessages()					

						<fieldset>
							@views.html.site.inner._registrationData.render(regForm);
							<div class="form-actions">
								<input class="btn btn-primary btn-large" type="submit" value="Registrieren">
							</div>						
						</fieldset>

					</form>
				</div>
				<script>
					$(document).ready(function() {
						$("#email").focus();
					});
				</script>
			</div>
		</div>
	</section>

</div>

}
