@(passwordChangeForm : Form[controllers.forms.PasswordChangeForm], optForm : Form[controllers.forms.OptionalUserProfileForm])

@import controllers.site.routes
@import views.html.helper._
@import scala.collection.JavaConversions._
@import views.html.oc_helper._ 
@import views.html.oc_helper.bootstrap2._ 

@views.html.site.loggedin_main() {
        <div class="span9">
          <div class="hero-unit">
            <h2>Ihre Profileinstellungen</h2>
            <hr/>

			<form class="form-horizontal" action="@routes.UserProfileController.changePassword()" method="post">
							<input type="hidden" value="@{passwordChangeForm.field("email").valueOr("")}" name="email" id="email">
							
							@inputPassword(
								passwordChangeForm("password1"), 
								'_label -> "Passwort", 
								'_help -> "",
								'_showConstraints -> false, 
								'placeholder -> "Passwort", 
								'_icon -> "icon-lock",
								'class -> "span2"
							)
							
							@inputPassword(
								passwordChangeForm("password2"), 
								'_label -> "Passwort Wiederholung", 
								'_help -> "",
								'_showConstraints -> false, 
								'placeholder -> "Passwort wiederholen", 
								'_icon -> "icon-lock",
								'class -> "span2"
							)	
							
					<input class="btn btn-primary btn-large" type="submit" value="Passwort ändern" />
				</form>

				<hr/>
				
				<div class="page-header">
					<div class="container">
						<h4>
							Freiwillige Angaben
						</h4>
					</div>
				</div>				
				
				<form class="form-horizontal" action="@routes.UserProfileController.changeData()" method="post">
							@inputText(
								optForm("firstname"), 
								'_label -> "Vorname", 
								'_help -> "",
								'_showConstraints -> false, 
								'placeholder -> "Vorname", 
								'_icon -> "icon-user",
								'class -> "span2"
							)
							
							@inputText(
								optForm("surname"), 
								'_label -> "Nachname", 
								'_help -> "",
								'_showConstraints -> false, 
								'placeholder -> "Nachname", 
								'_icon -> "icon-user",
								'class -> "span2"
							)
																					
							@inputText(
								optForm("street"), 
								'_label -> "Strasse", 
								'_help -> "",
								'_showConstraints -> false, 
								'placeholder -> "Strasse", 
								'_icon -> "icon-road",
								'class -> "span2"
							)
							
							@inputText(
								optForm("address"), 
								'_label -> "Adresse", 
								'_help -> "",
								'_showConstraints -> false, 
								'placeholder -> "Adresse", 
								'_icon -> "icon-home",
								'class -> "span2"
							)
							
							@select(
								optForm("countryListIndex"), 
								options = for((c,i) <- utils.CountryHelper.countryList.zipWithIndex) yield (String.valueOf(i),c),
								'_label -> "Land", 
								'_help -> "",
								'_showConstraints -> false, 
								'placeholder -> "Land", 
								'_icon -> "icon-flag",
								'class -> "span2"
							)	
					<input class="btn btn-primary btn-large" type="submit" value="&Auml;nderungen speichern" />			
				</form>
							

          </div>
        </div><!--/span-->
}