@(field: play.api.data.Field, args: (Symbol,Any)*)(implicit handler: views.html.helper.FieldConstructor, lang: play.api.i18n.Lang)

@import views.html.helper._

@boxValue = @{ args.toMap.get('value).getOrElse("true") }

@input(field, args:_*) { (id, name, value, htmlArgs) =>
    <input type="checkbox" id="@id" name="@name" value="@boxValue" @(if(value == Some(boxValue)) "checked" else "") @toHtmlArgs(htmlArgs)>
    <input type="hidden" id="@id" name="@name" value="false">
	@****** https://groups.google.com/forum/?fromgroups#!topic/play-framework/HygQuYF3a8E *******@
}
