@(field: play.api.data.Field, args: (Symbol,Any)*)(implicit handler: views.html.helper.FieldConstructor, lang: play.api.i18n.Lang)

@import views.html.helper._ 

@input(field, args++Seq('_inputClass -> "input-append"):_*) { (id, name, value, htmlArgs) =>
	@if(args.exists(_._1 == 'disabled)) {
		@** Webshims Lib unterstützt disabled nicht, daher hier ein etwas dreckiger Workaround **@
	    <input type="text" id="@id" name="@name" value="@global.Html5DateFormatter.reformatLocale(value.getOrElse(null),lang.toLocale)" @toHtmlArgs(htmlArgs)>
	} else {
	    <input type="date" id="@id" name="@name" value="@value" @toHtmlArgs(htmlArgs)>
       	<span class="add-on"><i class="icon-calendar"></i></span>
	}
}
