@(implicit cDetails: CrudDetailsState, f: Form[Ding], viewType: controllers.ViewType)

@import play.libs.Scala._ 
@import scala.collection.JavaConversions._ 
@import controllers.admin.routes 
@import views.html.helper._
@import views.html.oc_helper._ 
@import views.html.oc_helper.bootstrap2._ 
@import models._

@views.html.admin.loggedin_main() {

  @crudForm() {

    @inputText( f("name"), '_label -> "Name", disabledOrNot() ) 
    @textarea( f("description"), '_label -> "Beschreibung", disabledOrNot() ) 
    @checkboxField( f("special"), '_label -> "Spezial", disabledOrNot() )  
    @inputNumber( f("price"), '_label -> "Preis", disabledOrNot() )
    @singleselect( f("user.id"), options = User.find.all )('_label -> "User", disabledOrNot())

 	@inputDate2( f("someDate"), '_label -> "irgendein Datum", disabledOrNot())
 	@inputTimestamp( f("someTime"), '_label -> "irgendeine Zeit", disabledOrNot())
 	
    @singleselect( f("dingEnum"), options = DingEnum.values())('_label -> "Programmiersprache", disabledOrNot())

	@inputDbImage( f("image"), "/admin/image", '_label -> "Bild", disabledOrNot())
  
    @multiselect( f("watchedBy"), options = User.find.all)('_label -> "beobachted von", disabledOrNot()) 

  }
}