@(implicit currentPage: com.avaje.ebean.Page[User], clist: CrudListState)

@import controllers.admin.routes 
@import views.html.oc_helper._ 
@import views.html.oc_helper.bootstrap2._

@views.html.admin.loggedin_main() {

  @crudList() {
      @header("email", "E-Mail")
      @header("role", "Rolle")
      @header("firstname", "Vorname")
      @header("surname", "Nachname")
      @header("validated", "Validiert")
  } {
      @for(user <- currentPage.getList) {
        <tr>
	      <td><a href="@clist.crudBaseUrl/@user.id">@user.email</a></td>
	      <td>@user.role</td>
	      <td>@user.firstname</td>
	      <td>@user.surname</td>
	      <td>@fmt(user.validated)</td>
        </tr>
      }
  }
}  
