@(implicit cDetails: CrudDetailsState, f: Form[User], viewType: controllers.ViewType)

@import scala.collection.JavaConversions._ 
@import controllers.admin.routes 
@import views.html.helper._
@import views.html.oc_helper._ 
@import views.html.oc_helper.bootstrap2._ 

@views.html.admin.loggedin_main() {

  @crudForm() {
  
    @hiddenField( f("fixRandomNumber") ) 
    @inputText( f("email"), '_label -> "E-Mail", disabledOrNot() ) 
    @singleselect( f("timezone"), options = java.util.TimeZone.getAvailableIDs())('_label -> "Zeitzone", disabledOrNot())
    @checkboxField( f("validated"), '_label -> "E-Mail validiert", disabledOrNot() ) 
    @inputText( f("firstname"), '_label -> "Vorname", disabledOrNot() ) 
    @inputText( f("surname"), '_label -> "Nachname", disabledOrNot() ) 
    @textarea( f("address"), '_label -> "Adresse", disabledOrNot() ) 
    @inputText( f("zipCode"), '_label -> "PLZ", disabledOrNot() ) 
    @inputText( f("city"), '_label -> "Stadt", disabledOrNot() ) 
    @inputText( f("country"), '_label -> "Land", disabledOrNot() )
  
  }
}